@tailwind base;
@tailwind components;
@tailwind utilities;

/* Path: resources\css\custom.css */
*{
    font-family: 'Nunito', sans-serif;
}

@layer components{
    .smooth-transition{
        transition: all .3s ease-in-out;
    }


    .red-decoration{
        position: relative;
        padding: 10px 0;
    }

    .red-decoration::after{
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 90%;
        height: 2px;
        background-color: #e53e3e;
    }

    .submenu li{
        @apply text-gray-400 font-medium smooth-transition relative;
    }

    .submenu li::before{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        max-width: 0;
        height: 3px;
        background-color: #e53e3e;
        transition: all .3s ease-in-out;
    }

    .submenu li:hover::before{
        max-width: 50px;
    }

    .submenu li:hover{
        @apply text-gray-700;
    }

}

*{
    box-sizing: border-box;
}

.masked-lr{
    -webkit-mask-image: linear-gradient(to right, transparent, black 25%, black 75%, transparent);
    mask-image: linear-gradient(to right, transparent, black 25%, black 75%, transparent);
}
